/* 
<script>
    const elements = document.querySelectorAll('main > ul, nav, footer');
    const selectors = document.querySelectorAll('#background, main > ul');
    const main = document.querySelector('main');
    main.addEventListener('click', () => {
        elements.forEach(element => element.classList.toggle('hidden'));
    });
</script>
*/

.flex-column.flex-column-deal-pct,
.flex-column.flex-column-deal-per-second,
.flex-column.flex-column-deal-critical,
.flex-column.flex-column-deal-direct,
.flex-column.flex-column-deal-crit-direct {
    text-align: right;
}

body.overlay {
    margin: 0 !important;
    
}
body main {
    box-shadow: none;
}

body main:hover {
    /* background-color: rgba(255,255,255,0.05); */
    background-color: rgba(255,255,255,0.05);
}
  
body nav > .container {
    background: none;
    box-shadow: none;
}
  
body #header {
    display: none;
}

body nav {
    position: relative;
    z-index: 6;
}

body #background {
    background-color: rgba(0,0,0,0.01);
    cursor: pointer;
}

body #init-menu,
body #patchnote {
    display: none !important;
}

.icon-overflow-wrap {
    margin-left: 0 !important;
}

.button.dropdown-wrapper.dropdown-trigger {
    padding-right: 0;
    width: unset !important;
}


::-webkit-scrollbar,
::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-corner {
    display: none;
}
